.hero-section[data-v-f02830b1]{background:linear-gradient(to bottom,#fff,#f9f9f9)}.product-card img[data-v-f02830b1]{transition:transform .3s ease}.product-card:hover img[data-v-f02830b1]{transform:scale(1.05)}
