.hero-section[data-v-be394acc]{background:linear-gradient(to bottom,#fff,#f9f9f9)}.product-card img[data-v-be394acc]{transition:transform .3s ease}.product-card:hover img[data-v-be394acc]{transform:scale(1.05)}
